body{
  margin: 0 0 0 0;
  text-align: center;
  color: #40514E;
font-family: 'Rokkitt', serif;
}
div{
}
h1{
  font-size: 5.6rem;
font-family: 'Fleur De Leah', cursive;
  margin-top: 50px;
  margin-bottom: 0;
    color: #66BFBF;
    /* line-height: 2; */
}
h2{
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
font-family: 'Satisfy', cursive;
color:  #11999E;
}
.top-container{
    background-color:#EAF6F6;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  top:5%;
  right: 30%;
}
.bottom-cloud{
  position: absolute;
  left:30%;
  bottom:50%;
}
.myimage{
  height: 15%;
  width: 15%;
}
.middle-container{
  padding-top: 5%;
  padding-bottom: 5%;
}
.bottom-container{
  background-color: #66BFBF;
  color: #EAF6F6;
  padding-top: 5%;
  padding-bottom: 5%;
}
.contact-me{
  margin-top: 12%;
}
.sk{
height: 10%;
width: 30%;
float: left;
margin-right: 30px
}
.sk1{
  height: 10%;
  width: 30%;
  float: right;
  margin-left: 30px;
}
a{
  color:  #40514E;
}
/* .skill-p{
  clear: right;
} */
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
    line-height: 2;
}
hr{
  width: 5%;
  border-top: dotted 5px grey; /**/
  background-color: white;
}
.contact-p{
  padding-bottom: 5%;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top,#11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,#11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
